<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant List</title>

    {{! CSS original }}
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/0062a7ab09.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img
            src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30"
            height="30"
            class="d-inline-block align-top"
            alt="我的餐廳清單"
          />
          我的餐廳清單
        </a>
        <a class="navbar-brand" href="/restaurants/new"><i
            class="fa-solid fa-circle-plus"
          ></i>
          新增餐廳</a>
      </div>
    </nav>

    <div class="banner"></div>
  </header>

  <body>
    {{! partial template }}
    {{{body}}}

    {{! Javascript }}
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    {{!-- !!待解決 刪除部分另一種方法->採用onclick來呼叫這邊的function並回轉值到HTML--}}
    {{!-- <script>
      function check(name) {
        if (confirm(`你確定要刪除${name}嗎`)) {
          document.getElementById('delete-btn').value = 'true'
          console.log(document.getElementById('delete-btn')).value
        } else {
          document.getElementById('delete-btn').value = 'false'
        }
      }
    </script> --}}
  </body>
</html>