<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Restaurant List</title>

  {{! CSS original }}
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://kit.fontawesome.com/0062a7ab09.js" crossorigin="anonymous"></script>
</head>

<body {{#unless isAuthenticated}}class="banner-not-login" {{/unless}}>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top"
            alt="{{#if isAuthenticated}}{{user.name}}-{{/if}}restaurant-list" />
          {{#if isAuthenticated}}{{user.name}}'s {{/if}}Restaurant List
        </a>
        {{#if isAuthenticated}}
        <div class="">
          <a class="navbar-brand" href="/restaurants/new"><i class="fa-solid fa-circle-plus"></i>
            Add restaurant</a>
          <a class="navbar-brand" href="/users/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>
            Logout</a>
        </div>
        {{/if}}
      </div>
    </nav>

    {{#if isAuthenticated}}
    <div class="banner-login"></div>
    {{/if}}
  </header>


  {{! partial template }}
  {{{body}}}

  {{! Javascript }}
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>

  {{!-- 刪除部分另一種方法->採用onclick來呼叫這邊的function並回轉值到HTML--}}
  <script>
    function check(name) {
      if (confirm(`你確定要刪除${name}嗎`)) {
        document.getElementById('delete-btn').value = 'true'
        console.log(document.getElementById('delete-btn').value)
      } else {
        document.getElementById('delete-btn').value = 'false'
        event.preventDefault()
      }
    }
  </script>
</body>

</html>